body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  margin-left: auto;
  margin-right: auto;
}

svg {
  display: block;
  margin: auto;
}

.budget {
  margin-top: 1em;
  margin-bottom: .5em;
}

.income {
  font-weight: bold;
}

.purchase {
  margin-top: 1em;
  font-weight: bold;
  margin-bottom: .5em;
}

.expenses {
  margin-top: 1em;
  margin-bottom: .5em;
}

.tableHeader {
  margin:auto
}

#container {
  display: flex;
  direction: ltr;
  justify-content: center;
}

#chart {
  margin-top: 3em;
  margin-bottom: 1em;
}

#center {
  justify-content: center;
}